{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <h1 class="page-header">Final tournament - Group stage</h1>

    <div class="row">
        <ul class="clubList">
            {% for team in teams %}
                <li><a class="imgLink" href="{{ url('team', {'teamName': team.code}) }}" title="{{ team.name }}">
                        <img height="50" width="50" alt="{{ team.name }}" title="{{ team.name }}"
                             src="{{ team.logo }}">
                    </a>
                    <br> {{ team.name }}
                </li>
            {% endfor %}
        </ul>
    </div>


    <div class="page-header">
        <h1>Latest Games</h1>
    </div>

    {{ include( 'AppBundle:game:games.html.twig' ) }}

    {#{{ page }}#}
    {#{{ pages }}#}

    <div style="text-align: center">

        <ul class="pagination" url="{{ url('pageGameAjax') }}">
            <li><a href="#!">&laquo;</a></li>
            {% for i in 1..pages %}
                {% if i == 1 %}
                    <li class="active" id="page{{ i }}"><a href="#!" class="loadPage">{{ i }}</a></li>
                {% else %}
                    <li id="page{{ i }}"><a href="#!" class="loadPage">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="#!">&raquo;</a></li>
        </ul>

        <p><a class="btn btn-default" url="{{ url('pageGameAjax') }}" page="{{ page }}" max="{{ pages }}" role="button" id="more">Show more »</a></p>
    </div>

    {#{{ dump() }}#}



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
