<div class="table-responsive">
    <table class="table table-striped table-squad">
        <thead>
        <tr>
            <th>Player</th>
            <th>Age</th>
            <th>Position</th>
            <th>Statistic (goals)</th>
        </tr>
        </thead>
        <tbody>
            {% for squad in team.players %}
                <tr>
                    <td><a href="{{ url('player', {'team': team.name, 'playerId': squad.id}) }}">
                            {{ squad.FirstName }} {{ squad.LastName }}
                        </a>
                    </td>
                    <td>{{ squad.Age|date("m.d.Y") }}</td>
                    <td>{{ squad.Position }}</td>
                    <td>{{ squad.Statistic }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>