{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <a class="imgLink" href="{{ url('country', {'countryCode': team.name}) }}" title="{{ team.name }}">
        <img height="50" width="50" alt="{{ team.name }}" title="{{ team.name }}"
             src="/images/{{ team.name }}.png">
    </a>

    <div class="page-header">
        <h1>{{ team.name }} SQUAD</h1>
    </div>

    {{ team.description }}


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Player</th>
                <th>Age</th>
                <th>Position</th>
                <th>Statistic (goals)</th>
            </tr>
            </thead>
            <tbody>
            {% for squad in team.players %}
                <tr>
                    <td><a href="{{ url('player', {'team': team.name, 'playerId': squad.id}) }}">
                            {{ squad.FirstName }} {{ squad.LastName }}
                        </a>
                    </td>
                    <td>{{ squad.Age|date("m.d.Y") }}</td>
                    <td>{{ squad.Position }}</td>
                    <td>{{ squad.Statistic }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="page-header">
        <h1>{{ team.name }} Games</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Team</th>
                <th>Score</th>
                <th>Team</th>
                <th>Round</th>
                <th>Referee</th>
                <th>Stadium</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for games in team.gameScore %}
                <tr>
                    {% set team_1 = '' %}
                    {% set result_1 = '' %}
                    {% set team_2 = '' %}
                    {% set result_2 = '' %}

                    {% for key, result in games.game.scores %}
                        {% if key == 0 %}
                            {% set team_1 = result.team.name %}
                            {% set result_1 = result.score %}
                        {% else %}
                            {% set team_2 = result.team.name %}
                            {% set result_2 = result.score %}
                        {% endif %}
                    {% endfor %}

                    <td align="center">{{ team_1 }}</td>
                    <td align="center">{{ result_1 }} : {{ result_2 }}</td>
                    <td align="center">{{ team_2 }}</td>
                    <td>{{ games.game.round }}</td>
                    <td>{{ games.game.referee }}</td>
                    <td>{{ games.game.stadium }}</td>
                    <td>{{ games.game.gamedate|date("m.d.Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#{{ dump() }}#}

    <hr>

{% endblock %}
