{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <a class="imgLink" href="{{ url('country', {'countryCode': team.name}) }}" title="{{ team.name }}">
        <img height="50" width="50" alt="{{ team.name }}" title="{{ team.name }}"
             src="/images/{{ team.name }}.png">
    </a>

    <div class="page-header">
        <h1>{{ team.name }} SQUAD</h1>
    </div>

    {{ team.description }}


    {{ include( 'AppBundle:team:squad.html.twig' ) }}


    <div class="page-header">
        <h1>{{ team.name }} Games</h1>
    </div>

    {{ include( 'AppBundle:game:games.html.twig' ) }}

    {#{{ dump() }}#}

    <hr>

{% endblock %}
